@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* Optional: smoothing makes text look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}